@font-face {
    font-family: 'Roboto';
    src: url('../css/fonts.cssRoboto-BoldItalic.eot');
    src: url('../css/fonts.cssRoboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../css/fonts.cssRoboto-BoldItalic.woff2') format('woff2'),
        url('../css/fonts.cssRoboto-BoldItalic.woff') format('woff'),
        url('../css/fonts.cssRoboto-BoldItalic.svg#Roboto-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

